.brand-gradient {
    background: #0091ff;
    background: -webkit-linear-gradient(to top, #0091ff, #32cd4c);
    background: linear-gradient(to top, #0091ff, #32cd4c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#map {
    height: 80vh;
    width: 100%;
}
.info-window {
    max-width: 300px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
select {
    margin-left: 20px;
    padding: 5px;
}
#availability-popup table {
    user-select: none;
}