body {
    background-image: url('../../assets/football-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

#alert-message-invalid-email {
    display: none;
}
#alert-message-non-existent-email {
    display: none;
}
#alert-message-email-sent {
    display: none;
}